In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ply
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from statsmodels.stats.outliers_influence import variance_inflation_factor
import warnings
warnings.filterwarnings("ignore")
import pickle
import json
from sklearn.preprocessing import StandardScaler

###  predicting the insurance price

In [3]:
# here we have to predict the insurance price
# by usin the independent variable
# dependent variable is insurance price

### Gathering the data

In [4]:
df=pd.read_csv("medical_insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

#### EDA

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

### 2.sex

In [6]:
df["sex"]

0       female
1         male
2         male
3         male
4         male
         ...
1333      male
1334    female
1335    female
1336    female
1337    female
Name: sex, Length: 1338, dtype: object

In [7]:
df["sex"].unique()

array(['female', 'male'], dtype=object)

In [8]:
df["sex"].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [9]:
df["sex"].value_counts().to_dict()

{'male': 676, 'female': 662}

In [10]:
## here we are doing teh lable encoding
{'male': 676, 'female': 662}
df["sex"].replace({'male': 1, 'female': 0},inplace=True)

In [11]:
sex_value={'male': 1, 'female': 0}

In [12]:
df["sex"].value_counts()

1    676
0    662
Name: sex, dtype: int64

#### 3.bmi

In [13]:
df["bmi"]

0       27.900
1       33.770
2       33.000
3       22.705
4       28.880
         ...
1333    30.970
1334    31.920
1335    36.850
1336    25.800
1337    29.070
Name: bmi, Length: 1338, dtype: float64

In [14]:
df["bmi"].unique()

array([27.9  , 33.77 , 33.   , 22.705, 28.88 , 25.74 , 33.44 , 27.74 ,
       29.83 , 25.84 , 26.22 , 26.29 , 34.4  , 39.82 , 42.13 , 24.6  ,
       30.78 , 23.845, 40.3  , 35.3  , 36.005, 32.4  , 34.1  , 31.92 ,
       28.025, 27.72 , 23.085, 32.775, 17.385, 36.3  , 35.6  , 26.315,
       28.6  , 28.31 , 36.4  , 20.425, 32.965, 20.8  , 36.67 , 39.9  ,
       26.6  , 36.63 , 21.78 , 30.8  , 37.05 , 37.3  , 38.665, 34.77 ,
       24.53 , 35.2  , 35.625, 33.63 , 28.   , 34.43 , 28.69 , 36.955,
       31.825, 31.68 , 22.88 , 37.335, 27.36 , 33.66 , 24.7  , 25.935,
       22.42 , 28.9  , 39.1  , 36.19 , 23.98 , 24.75 , 28.5  , 28.1  ,
       32.01 , 27.4  , 34.01 , 29.59 , 35.53 , 39.805, 26.885, 38.285,
       37.62 , 41.23 , 34.8  , 22.895, 31.16 , 27.2  , 26.98 , 39.49 ,
       24.795, 31.3  , 38.28 , 19.95 , 19.3  , 31.6  , 25.46 , 30.115,
       29.92 , 27.5  , 28.4  , 30.875, 27.94 , 35.09 , 29.7  , 35.72 ,
       32.205, 28.595, 49.06 , 27.17 , 23.37 , 37.1  , 23.75 , 28.975,
       31.35 , 33.915, 28.785, 28.3  , 37.4  , 17.765, 34.7  , 26.505,
       22.04 , 35.9  , 25.555, 28.05 , 25.175, 31.9  , 36.   , 32.49 ,
       25.3  , 29.735, 38.83 , 30.495, 37.73 , 37.43 , 24.13 , 37.145,
       39.52 , 24.42 , 27.83 , 36.85 , 39.6  , 29.8  , 29.64 , 28.215,
       37.   , 33.155, 18.905, 41.47 , 30.3  , 15.96 , 33.345, 37.7  ,
       27.835, 29.2  , 26.41 , 30.69 , 41.895, 30.9  , 32.2  , 32.11 ,
       31.57 , 26.2  , 30.59 , 32.8  , 18.05 , 39.33 , 32.23 , 24.035,
       36.08 , 22.3  , 26.4  , 31.8  , 26.73 , 23.1  , 23.21 , 33.7  ,
       33.25 , 24.64 , 33.88 , 38.06 , 41.91 , 31.635, 36.195, 17.8  ,
       24.51 , 22.22 , 38.39 , 29.07 , 22.135, 26.8  , 30.02 , 35.86 ,
       20.9  , 17.29 , 34.21 , 25.365, 40.15 , 24.415, 25.2  , 26.84 ,
       24.32 , 42.35 , 19.8  , 32.395, 30.2  , 29.37 , 34.2  , 27.455,
       27.55 , 20.615, 24.3  , 31.79 , 21.56 , 28.12 , 40.565, 27.645,
       31.2  , 26.62 , 48.07 , 36.765, 33.4  , 45.54 , 28.82 , 22.99 ,
       27.7  , 25.41 , 34.39 , 22.61 , 37.51 , 38.   , 33.33 , 34.865,
       33.06 , 35.97 , 31.4  , 25.27 , 40.945, 34.105, 36.48 , 33.8  ,
       36.7  , 36.385, 34.5  , 32.3  , 27.6  , 29.26 , 35.75 , 23.18 ,
       25.6  , 35.245, 43.89 , 20.79 , 30.5  , 21.7  , 21.89 , 24.985,
       32.015, 30.4  , 21.09 , 22.23 , 32.9  , 24.89 , 31.46 , 17.955,
       30.685, 43.34 , 39.05 , 30.21 , 31.445, 19.855, 31.02 , 38.17 ,
       20.6  , 47.52 , 20.4  , 38.38 , 24.31 , 23.6  , 21.12 , 30.03 ,
       17.48 , 20.235, 17.195, 23.9  , 35.15 , 35.64 , 22.6  , 39.16 ,
       27.265, 29.165, 16.815, 33.1  , 26.9  , 33.11 , 31.73 , 46.75 ,
       29.45 , 32.68 , 33.5  , 43.01 , 36.52 , 26.695, 25.65 , 29.6  ,
       38.6  , 23.4  , 46.53 , 30.14 , 30.   , 38.095, 28.38 , 28.7  ,
       33.82 , 24.09 , 32.67 , 25.1  , 32.56 , 41.325, 39.5  , 34.3  ,
       31.065, 21.47 , 25.08 , 43.4  , 25.7  , 27.93 , 39.2  , 26.03 ,
       30.25 , 28.93 , 35.7  , 35.31 , 31.   , 44.22 , 26.07 , 25.8  ,
       39.425, 40.48 , 38.9  , 47.41 , 35.435, 46.7  , 46.2  , 21.4  ,
       23.8  , 44.77 , 32.12 , 29.1  , 37.29 , 43.12 , 36.86 , 34.295,
       23.465, 45.43 , 23.65 , 20.7  , 28.27 , 35.91 , 29.   , 19.57 ,
       31.13 , 21.85 , 40.26 , 33.725, 29.48 , 32.6  , 37.525, 23.655,
       37.8  , 19.   , 21.3  , 33.535, 42.46 , 38.95 , 36.1  , 29.3  ,
       39.7  , 38.19 , 42.4  , 34.96 , 42.68 , 31.54 , 29.81 , 21.375,
       40.81 , 17.4  , 20.3  , 18.5  , 26.125, 41.69 , 24.1  , 36.2  ,
       40.185, 39.27 , 34.87 , 44.745, 29.545, 23.54 , 40.47 , 40.66 ,
       36.6  , 35.4  , 27.075, 28.405, 21.755, 40.28 , 30.1  , 32.1  ,
       23.7  , 35.5  , 29.15 , 27.   , 37.905, 22.77 , 22.8  , 34.58 ,
       27.1  , 19.475, 26.7  , 34.32 , 24.4  , 41.14 , 22.515, 41.8  ,
       26.18 , 42.24 , 26.51 , 35.815, 41.42 , 36.575, 42.94 , 21.01 ,
       24.225, 17.67 , 31.5  , 31.1  , 32.78 , 32.45 , 50.38 , 47.6  ,
       25.4  , 29.9  , 43.7  , 24.86 , 28.8  , 29.5  , 29.04 , 38.94 ,
       44.   , 20.045, 40.92 , 35.1  , 29.355, 32.585, 32.34 , 39.8  ,
       24.605, 33.99 , 28.2  , 25.   , 33.2  , 23.2  , 20.1  , 32.5  ,
       37.18 , 46.09 , 39.93 , 35.8  , 31.255, 18.335, 42.9  , 26.79 ,
       39.615, 25.9  , 25.745, 28.16 , 23.56 , 40.5  , 35.42 , 39.995,
       34.675, 20.52 , 23.275, 36.29 , 32.7  , 19.19 , 20.13 , 23.32 ,
       45.32 , 34.6  , 18.715, 21.565, 23.   , 37.07 , 52.58 , 42.655,
       21.66 , 32.   , 18.3  , 47.74 , 22.1  , 19.095, 31.24 , 29.925,
       20.35 , 25.85 , 42.75 , 18.6  , 23.87 , 45.9  , 21.5  , 30.305,
       44.88 , 41.1  , 40.37 , 28.49 , 33.55 , 40.375, 27.28 , 17.86 ,
       33.3  , 39.14 , 21.945, 24.97 , 23.94 , 34.485, 21.8  , 23.3  ,
       36.96 , 21.28 , 29.4  , 27.3  , 37.9  , 37.715, 23.76 , 25.52 ,
       27.61 , 27.06 , 39.4  , 34.9  , 22.   , 30.36 , 27.8  , 53.13 ,
       39.71 , 32.87 , 44.7  , 30.97 ])

In [15]:
df["bmi"].isna().sum()

0

q1=df["bmi"].quantile(0.25)
q3=df["bmi"].quantile(0.75)
iqr=q3-q1
lower_bound=q1-1.5*(iqr)
upper_bound=q3+1.5*(iqr)
print("q1 :",q1)
print("q3 :",q3)
print("iqr",iqr)
print("lower_bound :",lower_bound)
print("upper_bound :",upper_bound)

#### 4.children

In [16]:
df["children"]

0       0
1       1
2       3
3       0
4       0
       ..
1333    3
1334    0
1335    0
1336    0
1337    0
Name: children, Length: 1338, dtype: int64

In [17]:
df["children"].isna().sum()

0

In [18]:
df

      age  sex     bmi  children smoker     region      charges
0      19    0  27.900         0    yes  southwest  16884.92400
1      18    1  33.770         1     no  southeast   1725.55230
2      28    1  33.000         3     no  southeast   4449.46200
3      33    1  22.705         0     no  northwest  21984.47061
4      32    1  28.880         0     no  northwest   3866.85520
...   ...  ...     ...       ...    ...        ...          ...
1333   50    1  30.970         3     no  northwest  10600.54830
1334   18    0  31.920         0     no  northeast   2205.98080
1335   18    0  36.850         0     no  southeast   1629.83350
1336   21    0  25.800         0     no  southwest   2007.94500
1337   61    0  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

#### 5.smoker

In [19]:
df["smoker"]

0       yes
1        no
2        no
3        no
4        no
       ...
1333     no
1334     no
1335     no
1336     no
1337    yes
Name: smoker, Length: 1338, dtype: object

In [20]:
df["smoker"].unique()

array(['yes', 'no'], dtype=object)

In [21]:
df["smoker"].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [22]:
df["smoker"].value_counts().to_dict()

{'no': 1064, 'yes': 274}

In [23]:
# here we are doing the lable encoding

df["smoker"].replace({'no': 1, 'yes': 0},inplace=True)

In [24]:
smoker_value={'no': 1, 'yes': 0}

In [25]:
df["smoker"].unique()

array([0, 1], dtype=int64)

#### 6.region

In [26]:
df["region"]

0       southwest
1       southeast
2       southeast
3       northwest
4       northwest
          ...
1333    northwest
1334    northeast
1335    southeast
1336    southwest
1337    northwest
Name: region, Length: 1338, dtype: object

In [27]:
df["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [28]:
df["region"].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [29]:
## here we are using the get_dummies
df=pd.get_dummies(df,columns=["region"])

In [30]:
df

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,0,16884.92400,0,0,0,1
1,18,1,33.770,1,1,1725.55230,0,0,1,0
2,28,1,33.000,3,1,4449.46200,0,0,1,0
3,33,1,22.705,0,1,21984.47061,0,1,0,0
4,32,1,28.880,0,1,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,1,10600.54830,0,1,0,0
1334,18,0,31.920,0,1,2205.98080,1,0,0,0
1335,18,0,36.850,0,1,1629.83350,0,0,1,0
1336,21,0,25.800,0,1,2007.94500,0,0,0,1
1337,61,0,29.070,0,0,29141.36030,0,1,0,0

#### 7.charges

In [31]:
df["charges"]

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [32]:
df["charges"].isna().sum()

0

In [33]:
df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,0,16884.92400,0,0,0,1
1,18,1,33.770,1,1,1725.55230,0,0,1,0
2,28,1,33.000,3,1,4449.46200,0,0,1,0
3,33,1,22.705,0,1,21984.47061,0,1,0,0
4,32,1,28.880,0,1,3866.85520,0,1,0,0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   sex               1338 non-null   int64
 2   bmi               1338 non-null   float64
 3   children          1338 non-null   int64
 4   smoker            1338 non-null   int64
 5   charges           1338 non-null   float64
 6   region_northeast  1338 non-null   uint8
 7   region_northwest  1338 non-null   uint8
 8   region_southeast  1338 non-null   uint8
 9   region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 68.1 KB

In [35]:
### train train splitting
# indepenent varble
x=df.drop("charges",axis=1)
#dependent varbale
y=df["charges"]

In [36]:
## splitin data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=12)

In [37]:
x_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
161,18,0,36.850,0,0,0,0,1,0
1032,30,0,27.930,0,1,1,0,0,0
151,48,1,29.700,0,1,0,0,1,0
759,18,1,38.170,0,0,0,0,1,0
362,19,0,21.700,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
278,59,1,31.790,2,1,0,0,1,0
432,42,1,26.900,0,1,0,0,0,1
1283,18,1,30.030,1,1,0,0,1,0
1265,64,1,23.760,0,0,0,0,1,0
1277,32,0,29.735,0,1,0,1,0,0

In [38]:
y_train

161     36149.48350
1032     4137.52270
151      7789.63500
759     36307.79830
362     13844.50600
           ...
278     12928.79110
432      5969.72300
1283     1720.35370
1265    26926.51440
1277     4357.04365
Name: charges, Length: 1070, dtype: float64

### features engineering

#### features selection

In [39]:
df.corr()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
age,1.000000,-0.020856,0.109272,0.042469,0.025019,0.299008,0.002475,-0.000407,-0.011642,0.010016
sex,-0.020856,1.000000,0.046371,0.017163,-0.076185,0.057292,-0.002425,-0.011156,0.017117,-0.004184
bmi,0.109272,0.046371,1.000000,0.012759,-0.003750,0.198341,-0.138156,-0.135996,0.270025,-0.006205
children,0.042469,0.017163,0.012759,1.000000,-0.007673,0.067998,-0.022808,0.024806,-0.023066,0.021914
smoker,0.025019,-0.076185,-0.003750,-0.007673,1.000000,-0.787251,-0.002811,0.036945,-0.068498,0.036945
charges,0.299008,0.057292,0.198341,0.067998,-0.787251,1.000000,0.006349,-0.039905,0.073982,-0.043210
region_northeast,0.002475,-0.002425,-0.138156,-0.022808,-0.002811,0.006349,1.000000,-0.320177,-0.345561,-0.320177
region_northwest,-0.000407,-0.011156,-0.135996,0.024806,0.036945,-0.039905,-0.320177,1.000000,-0.346265,-0.320829
region_southeast,-0.011642,0.017117,0.270025,-0.023066,-0.068498,0.073982,-0.345561,-0.346265,1.000000,-0.346265
region_southwest,0.010016,-0.004184,-0.006205,0.021914,0.036945,-0.043210,-0.320177,-0.320829,-0.346265,1.000000

### model training

In [40]:
# creating the model instance
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [41]:
### evalution of model on the testing data
y_pre=model.predict(x_test)
mse=mean_squared_error(y_pre,y_test)
print("MSE :",mse)
r2=r2_score(y_pre,y_test)
print("r2 ;",r2)

MSE : 41761889.190642774
r2 ; 0.6037435077919945

In [42]:
### evalution of model on the training data
y_pre_train=model.predict(x_train)
mse=mean_squared_error(y_pre_train,y_train)
print("MSE :",mse)
r2=r2_score(y_pre_train,y_train)
print("r2 ;",r2)

MSE : 35240347.237063214
r2 ; 0.6851487802481948

In [43]:
## testing on the one single innput

In [44]:
x_test1=x.loc[1,:]
x_test1

age                 18.00
sex                  1.00
bmi                 33.77
children             1.00
smoker               1.00
region_northeast     0.00
region_northwest     0.00
region_southeast     1.00
region_southwest     0.00
Name: 1, dtype: float64

In [45]:
y_pre=model.predict([x_test1])[0]
print(y_pre)

3505.563383038043

In [46]:
## ckeking on the user data

In [47]:
x.head(1).T

                     0
age               19.0
sex                0.0
bmi               27.9
children           0.0
smoker             0.0
region_northeast   0.0
region_northwest   0.0
region_southeast   0.0
region_southwest   1.0

In [48]:
column=x.columns
len(column)

9

In [49]:
age=30
sex="male"
bmi=40
children=1
smoker="yes"
region="northwest"

In [50]:
print(sex_value)
print(smoker_value)

{'male': 1, 'female': 0}
{'no': 1, 'yes': 0}

In [51]:
## making dict for project data
project_data={"sex":sex_value,"smoker":smoker_value,"column":list(column)}
print(project_data)

{'sex': {'male': 1, 'female': 0}, 'smoker': {'no': 1, 'yes': 0}, 'column': ['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast', 'region_northwest', 'region_southeast', 'region_southwest']}

In [52]:
project_data["smoker"][smoker]

0

In [53]:
## making encode value for the region column
region="region_"+ region
region

'region_northwest'

In [54]:
## creating index
region_index=np.where(column==region)[0]
region_index

array([6], dtype=int64)

In [55]:
## making array for giving values
array=np.zeros(x.shape[1],dtype=int)
array

array([0, 0, 0, 0, 0, 0, 0, 0, 0])

In [56]:
array[0]=age
array[1]=project_data["sex"][sex]
array[2]=bmi
array[3]=children
array[4]=project_data["smoker"][smoker]
array[region_index]=1
array

array([30,  1, 40,  1,  0,  0,  1,  0,  0])

In [57]:
age=30
sex="male"
bmi=40
children=1
smoker="yes"
region="northwest"
project_data={"sex":sex_value,"smoker":smoker_value,"column":list(column)}
region="region_"+ region
region_index=np.where(column==region)[0]
array=np.zeros(x.shape[1],dtype=int)
array[0]=age
array[1]=project_data["sex"][sex]
array[2]=bmi
array[3]=children
array[4]=project_data["smoker"][smoker]
array[region_index]=1
charge_of_inssurance=model.predict([array])[0]
print("THE CHARGE FOR INSURANCE IS :",charge_of_inssurance)

THE CHARGE FOR INSURANCE IS : 33015.01490921347

In [58]:
## predicting the charge for the medical insurance
charge_of_inssurance=model.predict([array])[0]
print(charge_of_inssurance)

33015.01490921347

In [59]:
## make pickel file of model
with open("Lin_model.pkl","wb") as f:
    pickle.dump(model,f)

In [60]:
### pickeling the dictionary
with open("project_data.json","w") as f:
    json.dump(project_data,f)

In [62]:
project_data["column"]

['age',
 'sex',
 'bmi',
 'children',
 'smoker',
 'region_northeast',
 'region_northwest',
 'region_southeast',
 'region_southwest']

In [64]:
project_data

{'sex': {'male': 1, 'female': 0},
 'smoker': {'no': 1, 'yes': 0},
 'column': ['age',
  'sex',
  'bmi',
  'children',
  'smoker',
  'region_northeast',
  'region_northwest',
  'region_southeast',
  'region_southwest']}

In [67]:
project_data["column"]

['age',
 'sex',
 'bmi',
 'children',
 'smoker',
 'region_northeast',
 'region_northwest',
 'region_southeast',
 'region_southwest']

In [68]:
len(project_data["column"])

9

In [69]:
region

'region_northwest'